<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <title>Assos</title>
  </head>
  <body>
    <!-- Logos -->
    <nav class="navbar mt-1 mb-1 border-top border-bottom">
        <img src="../logo/indir (1).png" width="30" height="30" alt="nara logo">
        <img src="../logo/indir.png" width="30" height="30" alt="kultur bakanlıgı logo">
        <img src="../logo/comu.png" width="30" height="30" alt="comulogo">
        <img src="../logo/assoskazısı.png" width="30" height="30" alt="assos kazısı logo">
        <img src="../logo/icdas-celik-logo.jpg" width="30" height="30" alt="icdas logo">
      </nav>
      <div id="app">
      <!-- Navbar -->
        <h4 class="text-center" id="index-title"  v-if="lang ==='tr'">Assos Antik Kenti Bilgi Panoları</h4>
        <h6 class="text-center" id="index-title" v-if="lang ==='en'">Assos Ancient City Information Boards</h6>
      <div class="navbar justify-content-center border-bottom">
        <div v-on:click="changeLangTr">
        <a class="navbar-brand" href="#" >
        <img src="https://cdn.webshopapp.com/shops/94414/files/54949672/turkey-flag-icon-free-download.jpg" width="50" height="30" alt="" >
        </a>
      </div>
        <div v-on:click="changeLangEn">
        <a class="navbar-brand float-right" href="#">
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Great_Britain_%28English_version%29.png" width="50" height="30" alt="">
        </a>
      </div>
    </div>

      
        
        <div class="container" v-for="item in items" :key="item.nametr">
          <div class="row  gradient border-bottom">
            <div class="col-8 align-self-center text-center">
              <h4 v-if="lang === 'tr' "><div class="fontt  "><a :href="item.source">{{item.nametr}}</a></div></h4>
              <h4 v-if="lang === 'en' "><div class="fontt  "><a :href="item.source">{{item.nameen}}</a></div></h4>
          </div>
            <div class="col-4">
                <img :src = "item.img" class="img-thumbnail rounded float-right img-fluid" height="60" width="60" style="max-height: 50px;">
            </div>
          </div>
        </div>  

      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="index.js"></script>
</body>
</html>